@media screen and (max-width: 1250px) {
    main {
        padding: 0 50px;
    }
}

@media screen and (max-width: 1000px) {
    main {
        padding: 0 0;
    }

    .navbar {
        display: flex;
        flex-direction: column !important;
    }

    .navbar .logo {
        width: 50px;
        margin-bottom: 10px;
    }

    .main-title {
        max-width: 500px;
    }
    
    .overview-description {
        max-width: 340px;
    }

    main .buttons-area {
        display: flex;
        flex-direction: column;
    }

    main .buttons-area button.get-started-c2a {
        margin-bottom: 10px;
    }

    footer p {
        font-size: 12px;
    }
}

@media screen and (max-width: 375px) {
    main .buttons-area {
        width: 90vw;
    }
}

@media screen and (max-width: 375px) and (max-height: 700px) {
    .main-title {
        font-size: 40px;
    }
}

@media screen and (max-width: 330px) {
    .navbar div.menu-items {
        display: flex;
        flex-direction: column;
        font-size: 15px;
    }

    .navbar div.menu-items a li:not(.--last-item-menu) {
        margin-bottom: 10px;
    }
}