header {
    border-bottom: 1px solid var(--soft-peach-color);
}

.main-title {
    max-width: 30vw;
    padding-bottom: 9px;
}

.overview-description {
    color: var(--medium-gray-color);
    max-width: 18vw;
}