@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

@import 'components.css';
@import 'rules.css';

:root {
  --primary-color: #005be4;
  --primary-hovered-color: #0050c9;
  --primary-active-color: #0044aa;

  --lavender-blue-transparent-color: #bed8ff63;
  --topaz-color: #7d7c83;
  --nero-color: #222222;
  --gainsboro-color: #dbdbdb;

  --white-color: #fff;
  --black-color: #000;

  --alert-standard-bg-color: #d3e5ff;
  --alert-border-bg-color: #79aeff;
  --alert-success-bg-color: #dffddd;
  --alert-success-border-color: #92fd8a;
  --alert-success-text: #32c927;
  --alert-danger-bg-color: #fddddd;
  --alert-danger-border-color: #fd8a8a;
  --alert-danger-text: #ca3939;
  --alert-warning-bg-color: #fbfddd;
  --alert-warning-border-color: #fbfd8a;
  --alert-warning-text-color: #c2bf1e;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 15px;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

pre {
  background-color: var(--nero-color);
  color: var(--white-color);
  display: inline-block;
  padding: 15px 20px;
  border-radius: 6px;
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
