input[type='text'] {
  border: 1.3px solid #E0E0E0;
  border-radius: 6px;
}

.alert {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--alert-standard-bg-color);
  color: var(--primary-color);
  border: 1px solid var(--alert-border-bg-color);
  border-radius: 6px;
}

.alert-success {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--alert-success-bg-color);
  color: var(--alert-success-text);
  border: 1px solid var(--alert-success-border-color);
  border-radius: 6px;
}

.alert-danger {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--alert-danger-bg-color);
  color: var(--alert-danger-text);
  border: 1px solid var(--alert-danger-border-color);
  border-radius: 6px;
}

.alert-warning {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--alert-warning-bg-color);
  color: var(--alert-warning-text-color);
  border: 1px solid var(--alert-warning-border-color);
  border-radius: 6px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  -webkit-transition: 0.4s;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: 0.4s;
}

.slider:before {
  -webkit-transition: 0.4s;
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

.navbar {
  display: flex;
  flex-direction: row;
  padding: 15px 0;
}

.navbar li {
  padding: 0 10px;
  cursor: pointer;
  color: var(--topaz-color);
  transition: all 0.3s ease;
}

.navbar li:hover {
  color: var(--black-color);
}