button {
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 7px 20px;
  transition: all 0.4s ease;
}

button:hover {
  background-color: var(--primary-hovered-color);
}

button:active {
  background-color: var(--primary-active-color);
}

input[type='text'] {
  border: 1.3px solid #E0E0E0;
  border-radius: 6px;
}

.btn-basic {
  background-color: transparent;
  color: var(--primary-color);
}

.btn-basic:hover {
  background-color: var(--lavender-blue-transparent-color);
}

.btn-basic:active {
  background-color: var(--lavender-blue-transparent-color);
}

.alert {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--alert-standard-bg-color);
  color: var(--primary-color);
  border: 1px solid var(--alert-border-bg-color);
  border-radius: 6px;
}

.alert-success {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--alert-success-bg-color);
  color: var(--alert-success-text);
  border: 1px solid var(--alert-success-border-color);
  border-radius: 6px;
}

.alert-danger {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--alert-danger-bg-color);
  color: var(--alert-danger-text);
  border: 1px solid var(--alert-danger-border-color);
  border-radius: 6px;
}

.alert-warning {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--alert-warning-bg-color);
  color: var(--alert-warning-text-color);
  border: 1px solid var(--alert-warning-border-color);
  border-radius: 6px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  -webkit-transition: 0.4s;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: 0.4s;
}

.slider:before {
  -webkit-transition: 0.4s;
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

.navbar {
  display: flex;
  flex-direction: row;
  padding: 15px 0;
}

.navbar li {
  padding: 0 10px;
  cursor: pointer;
  color: var(--topaz-color);
  transition: all 0.3s ease;
}

.navbar li:hover {
  color: var(--black-color);
}

.card {
  padding: 24px 28px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 6px;
  width: 30vw;
}

.card-description {
  margin-bottom: 20px;
}

.card-call-to-action {
  cursor: pointer;
  display: inline-block; 
  transition: all 0.3s linear;
}

.card-call-to-action:hover {
  color: var(--gainsboro-color);
}