.aligned {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.vw-100 {
    width: 100vw;
}

.vw-90 {
    width: 90vw;
}

.vw-80 {
    width: 80vw;
}

.vw-70 {
    width: 70vw;
}

.vw-60 {
    width: 60vw;
}

.vw-50 {
    width: 50vw;
}

.vw-40 {
    width: 40vw;
}

.vw-30 {
    width: 30vw;
}

.vw-20 {
    width: 20vw;
}

.vw-10 {
    width: 10vw;
}

.w-auto {
    width: auto;
}

.vh-100 {
    height: 100vh;
}

.vh-90 {
    height: 90vh;
}

.vh-80 {
    height: 80vh;
}

.vh-70 {
    height: 70vh;
}

.vh-60 {
    height: 60vh;
}

.vh-50 {
    height: 50vh;
}

.vh-40 {
    height: 40vh;
}

.vh-30 {
    height: 30vh;
}

.vh-20 {
    height: 20vh;
}

.vh-10 {
    height: 10vh;
}

.h-auto {
    height: auto;
}