.aligned {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.center-ai {
  display: flex;
  align-items: center;
}

.center-jf {
  display: flex;
  justify-content: center;
}

.txt-center {
  text-align: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.space-evenly {
  display: flex;
  justify-content: space-evenly;
}

.vw-100 {
  width: 100vw;
}

.vw-90 {
  width: 90vw;
}

.vw-80 {
  width: 80vw;
}

.vw-70 {
  width: 70vw;
}

.vw-60 {
  width: 60vw;
}

.vw-50 {
  width: 50vw;
}

.vw-40 {
  width: 40vw;
}

.vw-30 {
  width: 30vw;
}

.vw-20 {
  width: 20vw;
}

.vw-10 {
  width: 10vw;
}

.w-auto {
  width: auto;
}

.vh-100 {
  height: 100vh;
}

.vh-90 {
  height: 90vh;
}

.vh-80 {
  height: 80vh;
}

.vh-70 {
  height: 70vh;
}

.vh-60 {
  height: 60vh;
}

.vh-50 {
  height: 50vh;
}

.vh-40 {
  height: 40vh;
}

.vh-30 {
  height: 30vh;
}

.vh-20 {
  height: 20vh;
}

.vh-10 {
  height: 10vh;
}

.h-auto {
  height: auto;
}

.p-t-5 {
  padding-top: 5vh;
}

.p-t-10 {
  padding-top: 10vh;
}

.p-t-20 {
  padding-top: 20vh;
}

.p-t-30 {
  padding-top: 30vh;
}

.p-t-40 {
  padding-top: 40vh;
}

.p-t-50 {
  padding-top: 50vh;
}

.p-t-60 {
  padding-top: 60vh;
}

.p-t-70 {
  padding-top: 70vh;
}

.p-t-80 {
  padding-top: 80vh;
}

.p-t-90 {
  padding-top: 90vh;
}

.p-r-5 {
  padding-right: 5wh;
}

.p-r-10 {
  padding-right: 10wh;
}

.p-r-20 {
  padding-right: 20wh;
}

.p-r-30 {
  padding-right: 30wh;
}

.p-r-40 {
  padding-right: 40wh;
}

.p-r-50 {
  padding-right: 50wh;
}

.p-r-60 {
  padding-right: 60wh;
}

.p-r-70 {
  padding-right: 70wh;
}

.p-r-80 {
  padding-right: 80wh;
}

.p-r-90 {
  padding-right: 90wh;
}

.p-b-5 {
  padding-bottom: 5vh;
}

.p-b-10 {
  padding-bottom: 10vh;
}

.p-b-20 {
  padding-bottom: 20vh;
}

.p-b-30 {
  padding-bottom: 30vh;
}

.p-b-40 {
  padding-bottom: 40vh;
}

.p-b-50 {
  padding-bottom: 50vh;
}

.p-b-60 {
  padding-bottom: 60vh;
}

.p-b-70 {
  padding-bottom: 70vh;
}

.p-b-80 {
  padding-bottom: 80vh;
}

.p-b-90 {
  padding-bottom: 90vh;
}

.p-l-10 {
  padding-left: 10wh;
}

.p-l-20 {
  padding-left: 20wh;
}

.p-l-30 {
  padding-left: 30wh;
}

.p-l-40 {
  padding-left: 40wh;
}

.p-l-50 {
  padding-left: 50wh;
}

.p-l-60 {
  padding-left: 60wh;
}

.p-l-70 {
  padding-left: 70wh;
}

.p-l-80 {
  padding-left: 80wh;
}

.p-l-90 {
  padding-left: 90wh;
}

.m-t-10 {
  margin-top: 10vh;
}

.m-t-20 {
  margin-top: 20vh;
}

.m-t-30 {
  margin-top: 30vh;
}

.m-t-40 {
  margin-top: 40vh;
}

.m-t-50 {
  margin-top: 50vh;
}

.m-t-60 {
  margin-top: 60vh;
}

.m-t-70 {
  margin-top: 70vh;
}

.m-t-80 {
  margin-top: 80vh;
}

.m-t-90 {
  margin-top: 90vh;
}

.m-r-10 {
  margin-right: 10wh;
}

.m-r-20 {
  margin-right: 20wh;
}

.m-r-30 {
  margin-right: 30wh;
}

.m-r-40 {
  margin-right: 40wh;
}

.m-r-50 {
  margin-right: 50wh;
}

.m-r-60 {
  margin-right: 60wh;
}

.m-r-70 {
  margin-right: 70wh;
}

.m-r-80 {
  margin-right: 80wh;
}

.m-r-90 {
  margin-right: 90wh;
}

.m-b-10 {
  margin-bottom: 10vh;
}

.m-b-20 {
  margin-bottom: 20vh;
}

.m-b-30 {
  margin-bottom: 30vh;
}

.m-b-40 {
  margin-bottom: 40vh;
}

.m-b-50 {
  margin-bottom: 50vh;
}

.m-b-60 {
  margin-bottom: 60vh;
}

.m-b-70 {
  margin-bottom: 70vh;
}

.m-b-80 {
  margin-bottom: 80vh;
}

.m-b-90 {
  margin-bottom: 90vh;
}

.m-l-10 {
  margin-left: 10wh;
}

.m-l-20 {
  margin-left: 20wh;
}

.m-l-30 {
  margin-left: 30wh;
}

.m-l-40 {
  margin-left: 40wh;
}

.m-l-50 {
  margin-left: 50wh;
}

.m-l-60 {
  margin-left: 60wh;
}

.m-l-70 {
  margin-left: 70wh;
}

.m-l-80 {
  margin-left: 80wh;
}

.m-l-90 {
  margin-left: 90wh;
}
